
<div class="boxes" id="shiritori-box">
    <%= image_tag 'HDtopshiritori', id: "assets", width: "80%", height: "auto" %>
    <h1 id="omoikiri">思いっきり、えがこう。</h1>
</div>

<div class="boxes" id="enjoy-box">
    <%= image_tag 'bucket', id: "bucket", width: "60%", height: "auto" %>
    <%= image_tag 'pig', id: "pig", width: "10%", height: "auto" %>
    <%= image_tag 'raccoon', id: "raccoon", width: "9%", height: "auto" %>
    <%= image_tag 'drop-down', id: "drop-down", width: "17%", height: "auto" %>
    <%= image_tag 'rice', id: "rice", width: "10%", height: "auto" %>
    <h1 class="box-title" id="enjoy-title">「おえかき」を楽しもう！</h1>
    <p class="box-passage" id="enjoy-passage">
    「なべかき！」は、ともだちとオンラインで
    <br>&ensp;絵しりとりを遊べるアプリ！
    <br>&ensp;いっしょにハイスコアを目指す？
    <br>&ensp;MVPをめざしてたたかう？
    <br>&ensp;自分なりの楽しみ方を見つけに行こう！</p>
</div>

<div class="boxes" id="tips-box">
    <%= image_tag 'roller', id: "roller", width: "70%", height: "auto" %>
    <%= image_tag 'rocket', id: "rocket", width: "40%", height: "auto" %>
    <%= image_tag 'UFO', id: "UFO", width: "10%", height: "auto" %>
    <h1 id="tips-title" class="box-title">絵しりとりのコツ！</h1>
    <p class="box-passage tips-passage" id="tips-passage1">
    １.文字数をかせごう！
    <br>&ensp; 「なべかき！」では文字数がスコアになる！
    <br>&emsp; どんどんむずかしい言葉にチャレンジしよう！</p>
    <p class="box-passage tips-passage" id="tips-passage2">
    ２.自分の"味"を見つけよう！
    <br>&emsp; おえかきに答えはない！
    <br>&emsp; 自分のかく絵をすきになるところから始めよう！</p>
</div>

<div class="boxes" id="lets-start-box">
    <%= image_tag 'brush', id: "brush", width: "70%", height: "auto" %>
    <%= image_tag 'human', id: "human", width: "8%", height: "auto" %>
    <%= image_tag 'yamauchi', id: "yamauchi", width: "10%", height: "auto" %>
    <%= image_tag 'kiwi', id: "kiwi", width: "8%", height: "auto" %>
    <%= image_tag 'banana', id: "banana", width: "8%", height: "auto" %>
    <%= image_tag 'hamaie', id: "hamaie", width: "10%", height: "auto" %>
    <h1 id="tips-title" class="box-title">さっそく始めよう！</h1>
    <h2 class="box-passage btn btn--orange btn--cubic btn--shadow" id="btn1"><div class="btn-text">ルーム作成</div></h2>
    <h2 class="box-passage btn btn--orange btn--cubic btn--shadow" id="btn2"><div class="btn-text">ルーム作成</div></h2>
    <h2 class="box-passage btn btn--orange btn--cubic btn--shadow" id="btn3"><div class="btn-text">ルーム作成</div></h2>
</div>
<div id='user_info' data-user_id="<%# @user.id %>" data-user_name="<%# @user.username %>">