<%= javascript_pack_tag 'lounge' %>
<div id='lounge' data-lounge="I'm_here"></div>
<div id='room_info' data-room_name="<%= @room.room_name %>" data-user_name="<%= @user.username %>" data-user_id="<%= @user.id %>"></div>


<h1><%= "#{@room.room_name}" %></h1>
    <div id="start-btn-container">
    <% if @room.user_id == @user.id %>
    <button id="start-btn">ゲームスタート！</button>
    <% else %>
    <p>待機中...</p>
    <% end %>
</div>


<div id="lounge-ajaxreload">
    <%# <h1>Ajax更新エリア</h1> =%>
</div>