
<div id='user_info' data-user_id="<%= @user.id %>" data-user_name="<%= @user.username %>">
<%= form_for @room do |f| %>
  <div class="new-room-form">
    <%# f.label :新規ルーム作成！ %>
    <%= f.text_field :room_name, :size => 70 %>
    <%= f.hidden_field :created_time, :value => Time.new %>
  <%= f.submit "新規ルーム作成！" , id: "create-room-btn"%>
  </div>
<% end %>