<%# stylesheet_link_tag "show", :media => "all" %>
<%= javascript_pack_tag 'oekaki' %>
<%= javascript_pack_tag 'picload' %>

<div id="current_draw_number" class="<%= @room.current_drawing_number %>"></div>
<div id="current_rotation" class="<%= @room.rotation %>"></div>
<div id="th_turn" class="<%= @room.th_turn %>"></div>
<div id="last_picname" class="<%= @room.last_picname %>"></div>
<div id="rand_first_character" class="<%= @room.rand_first_character %>"></div>
<div id="rand_last_character" class="<%= @room.rand_last_character %>"></div>
<div id='user_info' data-room_name="<%= @room.room_name %>" data-room_id="<%= @room.id %>" data-player_amount="<%= @players.count %>" data-current_rotation="<%= @room.rotation %>" data-user_name="<%= @user.username %>" data-user_id="<%= @user.id %>" data-randorder="<%= @user.randorder %>"></div>


<div class="main-container">
    <div class="left-container">
        <div class="other-traits">
            <span id="count-down">60</span>
            <button id="clear-btn"></button>
        </div>
            <%#<div class="canvas-btns">
                <button class="canvas-btn" id="widthA"><div class="btn-circle-text"><p class="circle">●</p></div></button>
                <button class="canvas-btn" id="widthB"><div class="btn-circle-text"><p class="circle">●</p></div></button>
                <button class="canvas-btn" id="widthC"><div class="btn-circle-text"><p class="circle">●</p></div></button>
                <button class="canvas-btn" id="black"></button>
                <button class="canvas-btn" id="eraser"></button>

                <button class="canvas-btn" id="red"></button>
                <button class="canvas-btn" id="blue"></button>
                <button class="canvas-btn" id="green"></button>
                <button class="canvas-btn" id="yellow"></button>
            </div>%>
            <div class="main-canvas">
                <canvas id="draw-area" width="400px" height="400px"></canvas>
            </div>
        <div id="btn-reload">
        </div>
    </div>
    <div class="right-container">
        <h1><%= @room.rand_first_character %> ⇒ <%= @room.rand_last_character %></h1>
        <div id="player-index">
            <% @players.each do |player| %>
                <div class="<%= player.id %>"><%= player.randorder+1 %>. <%= player.username %></div>
            <% end %>
        </div>
        <div id="picreload">
                <%# 画像更新ajax =%>
        </div>
    </div>
</div>
