<%# stylesheet_link_tag "show", :media => "all" %>
<%= javascript_pack_tag 'oekaki' %>
<%= javascript_pack_tag 'picload' %>
<div id="can_you_draw" class="no"></div>
<div id="current_draw_number" class="<%= @room.current_drawing_number %>"></div>
<div id="current_rotation" class="<%= @room.rotation %>"></div>
<div id="th_turn" class="<%= @room.th_turn %>"></div>
<div id="last_picname" class="<%= @room.last_picname %>"></div>
<div id="rand_first_character" class="<%= @room.rand_first_character %>"></div>
<div id="rand_last_character" class="<%= @room.rand_last_character %>"></div>
<div id='user_info' data-room_name="<%= @room.room_name %>" data-room_id="<%= @room.id %>" data-player_amount="<%= @players.count %>" data-current_rotation="<%= @room.rotation %>" data-user_name="<%= @user.username %>" data-user_id="<%= @user.id %>" data-randorder="<%= @user.randorder %>"></div>


<h1><%= @room.rand_first_character %> ⇒ <%= @room.rand_last_character %></h1>
<ul id="player-index">
    <% @players.each do |player| %>
        <li class=<%= player.id %>><%= player.username %></li>
    <% end %>
</ul>

    <div id="btn-reload">

    </div>
    <canvas
        id="draw-area"
        width="400px"
        height="400px"
        style="border: 1px solid #000000; "></canvas>
    <div id="ranges">
        <p>線の太さ<input type="range" min="0" max="100" value="5" id="line-width"><span id="width-num">5</span></p>
    </div>

</div>

<div id="picreload">
        <%# <h1>Ajax更新エリア</h1> =%>
</div>
